nav {
    display: flex;
    justify-content:right;
}
nav div{
    font-size: 4vh;
    margin-right: 6vw;

}
#phone{
    height: 100vh;
    position: absolute;
    left: 60%;
    top: 18%;
}
.Fullname{
    position: absolute;
    width: 11vw;
    left: 70%;
    top: 39%;
}
.Company{
    position: absolute;
    width: 11vw;
    left: 70%;
    top: 44%;
}
.Phoneno{
    position: absolute;
    width: 11vw;
    left: 70%;
    top: 56.5%;
}
.Email{
    position: absolute;
    width: 11vw;
    left: 70%;
    top: 61%;
}
.Message{
    position: absolute;
    width: 17.8vw;
    height: 8vw;
    left: 63.65%;
    top: 83%;
}
#reset{
    position: absolute;
    left: 63.6%;
    top: 28%;
    height: 3vh;
    width: 5vw;
    opacity: 0;
}
#submit{
    position: absolute;
    left: 78.5%;
    top: 28%;
    height: 3vh;
    width: 4vw;
    opacity: 0;
}